<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8">
    <title>Veda</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Latest compiled and minified CSS -->

</head>
<body>




<!--NAV BAR-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <span><a class="navbar-brand" title="Home" href="/">Home</a></span>
        </div>

        <div class="collapse navbar-collapse">
        <span><a class="navbar-text navbar-left" title="Medicine" href="/medicine">Medicine</a></span>
        <span><a class="navbar-text navbar-left" title="CRM" href="/crm">CRM</a></span>
        <% if(user) { %>
        <span><a class="navbar-text navbar-right" title="Logout" href="/logout">Logout</a></span>
        <% } else { %>
        <p class="navbar-text navbar-right"><a class="navbar-link" title="Login" href="/login">Login</a></p>
        <% } %>
        </div>
    </div>
</nav>
<!--END OF NAVBAR-->


</body>