<%- include header.ejs %>

<body>
<div class="jumbotron" align="center">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <form action="/search" method="get" >
                    <div class="search-form-content" id="keyword">
                        <input name="keyword" class="typeahead form-control" type="text" placeholder="請輸入要找的東西" autocomplete="off">
                    </div>

                    <div class="search-form-submit">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js"></script>
<script type="text/javascript">
    var test = ['123', 'happy', 'holiday'];

    var medicines = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: test,
        prefetch: '../typedata.json'
    });


    $(' .typeahead').typeahead({
        hint: true,
        hightlight: false,
        minlength: 1
    },{
        name:'medicines',
        source: medicines.ttAdapter()
    });

</script>




</body>