<%- include header.ejs %>

<body>
<div class="jumbotron" align="center">
    <div class="row">
        <div class="col-lg-6">
            <div class="input-group">
                <form action="/search" method="get" >
                    <div class="search-form-content" id="keyword">
                        <input name="keyword" class="typeahead" type="text" placeholder="請輸入要找的東西">
                    </div>

                    <div class="search-form-submit">
                        <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
<p style="display:none" id="medicines">
    <%= medicines %>
</p>
</div>


<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.js"></script>
<script type="text/javascript">
    $('#keyword .typeahead').typeahead({
        source: $('#medicines').html().split(',')
    });

</script>




</body>