<%- include header %>
<body>
<h3>前櫃</h3>
<p><a href="/medicine/addmed">Add new medicine</a></p>
<% medicines.forEach(function(medicine, index){ %>
    <% if (medicine.position=='front') { %>
        <table>
            <colgroup></colgroup>
        </table>
        <p><a href="/medicine/<%= medicine.name %>"><%= medicine.name %></a></p>
    <% } %>

<% }) %>



<h3>後櫃</h3>
<h3>庫存</h3>
</body>