<%- include header.ejs %>
<head>
    <title>Node authentication</title>
</head>
<body>
    <div class="container">

        <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-lock"></span>Node Authentication</h1>
            <form action="/signup" method="post">
            <div class="form-group">
                <p>Login or Signup with:</p>
                <label>Email</label>
                <input type="text" class="form-control" name="email">
                <label>Password</label>
                <input type="password" class="form-control" name="password">
                <label>Re-type Password</label>
                <input type="password" class="form-control" name="re-password">
                <button type="submit" class="btn btn-success">Register</button>

                Or signup with Facebook:
                <a href="/signup/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                <p>Got an account already? Login here:</p>
                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
            </div>
            </form>
        </div>
    </div>
</body>