<%- include ../header %>
<form method="post">
    <!-- product UID -->
    <label for="medname"><div>藥名</div></label>
    <input type="text" id="medname" name="medname" required><span style="color:red">*required</span><br/>

    <!-- position label -->
    <label for="position">position</label>

        <input type="radio" name="position" value="front">前櫃
        <input type="radio" name="position" value="back">後櫃
        <input type="radio" name="position" value="stock">庫存
        <input type="radio" name="position" value="product">成藥
        <br/>

    <label for="col">Column</label>
    <input type="number" id="col" name="col"></br>
    <label for="row">Row</label>
    <input type="number" id="row" name="row"></br>
    <label for="index">Index</label>
    <input type="text" id="index" name="index"><br/>


    <!-- product meta -->

    <label for="price">單價</label>
    <input type="number" id="price" name="price">
    <select id="unit" name="unit">
        <option value="catty">斤</option>
        <option value="tael">兩</option>
        <option value="piece">個</option>
        <option value="other">其他</option>
    </select>
    價格日期<input type="date" name="date" value="<%= today %>">
    <br/>
    <label for="classfied_price">Classified_price</label>
    <input type="number" id="classfied_price" name="classified_price" value="0">
    <br/>
    <label for="intro">介紹</label>
    <input type="text" id="intro" name="intro"><br/>
    <input type="submit" value="save">
    <a class="btn" href="/medicine">Cancel</a>
</form>
