<%- include header %>
<form method="post">
    <!-- product UID -->
    <label for="recipename">藥單名</label>
    <input type="text" id="recipename" name="recipename"><br/>

    <!-- type label -->
    <label for="type">類型</label>

    <input type="radio" name="type" value="internal">內單
    <input type="radio" name="type" value="external">外單
    <input type="radio" name="type" value="standard">標準方
    <input type="radio" name="type" value="other">其他
    <br/>

    <label for="content">成分</label>
    <input type="text" id="content" name="content">藥名
    <input type="number" id="amount" name="amount">數量
    <input type="radio" name="unit" value="catty">兩
    <input type="radio" name="unit" value="tael">斤
    <input type="radio" name="unit" value="unit">個
    <br/>


    <!-- product meta -->

    <label for="price">單價</label>
    <input type="number" id="price" name="price">
    <br/>
    <label for="intro">介紹</label>
    <input type="text" id="intro" name="intro"><br/>
    <input type="submit" value="save">
    <a class="btn" href="/back">Cancel</a>
</form>
<%- include footer %>